# Ignore files with credentials.
/config.php
.htaccess
/vendor


/node_modules

/scratch_pad.js

.env

/robots.txt


/sites/*
!/sites/sites-example.php
!/sites/default

/themes/*
!/themes/.gitkeep
!/themes/default

/modules/*
!/modules/.gitkeep

/dev_modules/node-books-online/
/WeatherApp


dev_modules/node-lib-http/
dev_modules/webc-events/
dev_modules/webc-ors/
dev_modules/webc-oar/

