[submodule "dev_modules/node-web"]
	path = dev_modules/node-web
	url = https://github.com/ocdladefense/node-web.git
[submodule "dev_modules/node-modal"]
	path = dev_modules/node-modal
	url = https://github.com/ocdladefense/node-modal.git
